name: Deploy-to-Heroku
on:
  push:
    branches:
      - master
      
    paths-ignore:
      - 'README.md'
      - 'workflows/'
   
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      
    steps:
      - name: check-out reposotiry
        uses: actions/checkout@v3
        
      - name: Build with Maven
        run: mvn -B clean package --file pom.xml
    
      - name: Deploy to heroku 
        uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: ${{ secrets.HEROKU_APP_NAME }}
          heroku_email: ${{ secrets.HEROKU_EMAIL }}
