name: Deploy-to-Heroku
on:
  push:
    branches:
      - master
      
    paths-ignore:
      - 'README.md'
      - '.github/workflows/Deploy-to-Heroku.yml'
permissions:
  contents: read
  packages: write

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - name: check-out reposotiry
        uses: actions/checkout@v3
      - name: run-test
        run:  mvn -B clean test -f pom.xml
  Build:
    name: Build
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: check-out reposotiry
        uses: actions/checkout@v3

      - name: Build with Maven
        run: mvn package -DskipTests -f pom.xml
      - name: Upload war
        uses: actions/upload-artifact@v3
        with:
          name: warFile
          path: artifacts/PropertyTaxWebApp.war

  deploy-Heroku:
    name: deploy-Heroku
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: check-out reposotiry
        uses: actions/checkout@v3

      - name: Dowload art
        uses: actions/download-artifact@v3
        with:
          name: warFile
          path: artifacts

      - name: Display structure of downloaded files
        run: ls -R
        working-directory: artifacts

      - name: Deploy to heroku
        uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: ${{ secrets.HEROKU_APP_NAME }}
          heroku_email: ${{ secrets.HEROKU_EMAIL }}